.pgrup{
    display: grid;
    grid-template: 1fr/1fr 1fr;
}
.pgrup div{
    padding: 2vw;
}
.pcImg{
    width: 30vw;
    justify-self: center;
}
.p2{
    grid-column: 1/-1;
}
p{margin: 0px;}
@media(max-width:700px){
    article{
        margin-top: 10vh;
    }
    .pgrup{
        grid-template: 1fr/1fr;
    }
    .pgrup div{
        background-color: #0d5986;
        color: #fff;
        padding: 5vw
    }
    .pcImg{
        width: 70vw;
        padding-bottom: 5vh;
    }
}