/* Fuente */
@font-face{
    font-family: Comforta;
    src:url('Fuentes/Comfortaa.ttf')
}
@font-face{
    font-family: Oregano;
    src:url('Fuentes/Oregano.ttf')
}

/*Colores */
.azul{
    color: #0d5986;
}
.bAzul{
    background-color: #0d5986;
}
.brAzul{
    border-color:#0d5986 !important;
}

/* Sombras*/

.sombraImgX1{
    filter: drop-shadow(#000 1px 1px 0px);
}
.sombraBox{
    box-shadow: #333 3px 3px 5px;
}

/*General*/
html,body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: hidden;
    font-family: Comforta;
}
.contenFlechas{
    position: absolute;
    bottom: 0vh;
    right: 25vw;
    width: 5vw;
    overflow: hidden;
    height: 25vh;
    cursor: pointer;
}
.contenFlechas>div{
    width: 100%;
    height: 100%;
    position: relative;
}
.flechas{
    position: absolute;
    width: 5vw;
    bottom: 10vh;
    animation-name: flech;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    cursor: pointer;
}
@keyframes flech{
    50%{
        bottom: 0vh;
    }
}
.servicios{
    display: grid;
    grid-template: min-content 1fr/ 1fr 7vw;
}

.serviciosConten{
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr 1fr;
    gap: 1vw;
    padding: 1vw;
}

.servicio{
    text-decoration: none;
    filter: grayscale(1);
    background-position: center;
    background-size: cover;
    transition: filter 1s;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.servicio:hover{
    filter: grayscale(0);
}
.servicio h3{
    width: 100%;
    height: 0%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    font-family: Oregano;
    color: #fff;
    background-color: #333d;
    transition: height 0.3s;    
}
.servicio:hover h3{
    height: 25%;
}
.webPages{
    background-image: url('Imagenes/paginas3.jpeg');
    grid-row: 1/-1;
    grid-column: 2;
}
.hardware{
    background-image: url('Imagenes/hardware.jpg');
}
.software{
    background-image: url('Imagenes/onCloud.jpg');
    grid-row: 1;
}
.grafico{
    background-image: url('Imagenes/grafico.jpg');
    grid-row: 1;
}
.socialManager{
    background-image: url('Imagenes/social.jpg');
}


.nav{
    display: grid;
    grid-column: -2;
    grid-row: 1/-1;
    height: min-content;
    grid-template: repeat(min-content,5)/1fr;
    justify-items: center;
    padding-top: 25vh;
}
.separadorNav{
    width: 2px;
    height: 10vh;
}
.nav span:nth-child(odd){
    cursor: pointer;
    border-radius: 100%;
    border: solid 2px;
    width: 10vh;
    height: 10vh;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.nav .homeNav{
    background-image: url('Imagenes/home.svg');
}
.nav .serviciosNav{
    background-image: url('Imagenes/services.svg');
}
.nav .contactoNav{
    background-image: url('Imagenes/contacto.svg');
    background-size: 70% 70%;
}
.serviciosNav.hover{
    background-image: url('Imagenes/servicesHover.svg');
}

.contactoNav.hover{
    background-image: url('Imagenes/contactoHover.svg');
}

h2{
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
    font-family: Comforta;
}

.contacto{
    display:grid;
    grid-template: min-content min-content 1fr/1fr 7vw;
}
.contacto .mensaje{
    font-size: 2vw;
    width: 80%;
    justify-self: center;
}

.vista{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    position: relative;
}
.pInicio{
    position: absolute;
    right: 10vw;
    bottom: 35vh;
    width: 40vw;
    font-size: 2vw;
}
.CoeteEscritorio{
    margin: 0px;
    width: 60vw;
    position: absolute;
    bottom: 0px;
}

.logo{
    position: absolute;
    top:5vh;
    right: 10vw;
    width: 40vw;
}
.canalesContacto{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    padding: 1vw;
    gap: 1vw;
    justify-items: center;
    align-items: flex-start;
}
.canalesContacto .Item{
    display: flex;
    justify-content: center;
    padding: 5vw;
    border: solid 1px #bbb;
    filter: grayscale(1);
}

.Item:hover{
    filter: grayscale(0);
}
.canalesContacto img{
    width: 10vw;
    height: min-content;
}

@media(max-width:700px){
    .logo{
        right:25vw;
        width: 50vw;
    }
    .CoeteEscritorio{
        height: 70vw;
        width: auto;
    }
    .pInicio{
        font-size: 3vh;
        top:30vh;
        width: 80vw;
    }
    .contenFlechas{
        right: 15vw;
        width: 15vw;
    }
    .flechas{
        bottom: 15vh;
        width: 15vw;
    }
    @keyframes flech{
        50%{
            bottom: 7vh;
        }
    }

    .nav span:nth-child(odd){
        width: 5vh;
        height: 5vh;
    }
    .servicios, .contacto{
        grid-template-columns: 1fr 12vw;
    }

    .contacto .mensaje{
        font-size: 4vw;
    }
    .canalesContacto{
        grid-template: min-content min-content min-content / 1fr;
    }
    .Item{
        padding: 1vh !important;
        height: 18vh;
        width: 75vw;
    }
    .Item img{
        width: 18vh;
        height: 18vh;
    }

    .serviciosConten{
        grid-template: 1fr 1fr 1fr/1fr 1fr;
    }
    .webPages{
        grid-row: 1;
        grid-column: 1/-1;
    }
    .software{
        grid-row: 2;
    }
    .grafico{
        grid-row: 2;
    }


}