@font-face {
    font-family: comfortaa;
    src: url(./Comfortaa.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-family: comfortaa;
    letter-spacing: 2px;
}
.naranja{
    background-color:#FFA819;
}
.bioleta{
    background-color:#9819FF;
}
.verde{
    background-color: #00FF60;
}
h3{
    font-size: 3rem;
}
#botonMenu{
    display:grid;
    position: absolute;
    cursor:pointer;
    gap: 5px 0px;
    z-index: 1000;
    grid-template: 1fr 1fr 1fr/ 1fr;
    width: 50px;
    height: 35px;
    top: 15px;
    right: 2vw;
}
#botonMenu div{
    width: 100%;
    border-radius: 25px;
}
.sombraBoton{
    filter: drop-shadow(#333 2px 2px 1px);
}

.transition05, .transition05 *{
    transition: all 0.5s linear;
}
.transition3 *{
    transition: all 3s;
}
.sombraTexto{
    text-shadow: #333 3px 3px 3px;
}
.sombraTexto2{
    text-shadow: #333 1px 1px 2px;
}
body{
    height: 10000px;
}
#display{
    position: fixed;
    overflow: hidden;
    width:100vw;
    height: 100vw;
}
#menu{
    width: 100vw;
    height: 100vh;
    background-color:#FFA819;
    font-size: 1.5rem;
    font-weight: bold;
}
nav{
    display: grid;
    grid-template: 100px/200px 200px auto min-content;
    align-items: center;
    justify-items: center;
    text-shadow: #333 2px 2px 1px;
    padding-right: 3rem;
}
#BotonCerrar{
    grid-column: 4;
}
header{
    position: absolute;
    overflow: hidden;
    justify-items: center;
    align-items: center;
    background-color: #9819FF;
    width: 101vw;
    height: 102vh;
    top: -1vh;
    left: -1vw;
    border-radius: 25px;
    border-left: solid #ba67ff 3px;
    border-top: solid #ba67ff 3px;
    box-shadow: #333 10px 10px 5px;
}

.menuOpen{
    top:10vh;
    transform: scale(.96);
}
.sombraBoton{
    cursor: pointer;
}
#mascara1{
    z-index: 11;
    grid-row: 1;
    grid-column: 1;
    position: absolute;
    left: 5vw;
    overflow: hidden;
    /* background-color: #3339; */
    grid-template: 1fr/1fr;
    width: 70vh;
    height: 90vh;
    border-radius: 0% 0% 500px 500px;
}
#fondoVerde{
    z-index: 10;
    position: absolute;
    top:26vh;
    left: 5vw;
    background-color: #00FF60;
    grid-row: 1;
    grid-column: 1;
    width: 70vh;
    height: 70vh;
    border-radius: 100%;
    box-shadow: inset #333 5px 5px 15px;
}
#MiFotoDePerfil{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0px;
}
